@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;800&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
}

body {
    background-image: url(../Images/index2.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.header {
    background: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 85px;
    padding: 5px 10%;
}

.header .logo {
    cursor: pointer;
    margin-right: auto;
}

.header .logo img {
    height: 150px;
    width: auto;
    transition: all 0.3s;
}

.header .logo img:hover {
    transform: scale(1.2);
}

.header .nav-links {
    list-style: none;
}

.header .nav-links li {
    display: inline-block;
    margin: 0 10px; /* Ajustado */
}

.header .nav-links li:hover {
    transform: scale(1.1);
}

.header .nav-links a {
    font-size: 700;
    color: #000000;
    text-decoration: none;
}

.header .nav-links li a:hover {
    color: #ff0e0e;
}

.header .btn button {
    margin-left: 20px;
    margin-right: 20px; /* Ajustado */
    font-weight: 700;
    color: #1b3039;
    padding: 9px 25px;
    background: #eceff1;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.header .btn button:hover {
    background-color: #e2f1f8;
    color: #0004ff;
    transform: scale(1.1);
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    text-align: center;
    padding: 20px;
}

h1 {
    color: #333;
    font-size: 2em;
    margin-bottom: 10px;
}

p {
    color: #666;
    font-size: 1.2em;
    margin-left: 50px;
}

.sample{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: dashed red 1px; */
    width: 160px;
    background: #eceff1;
    cursor: pointer;
    text-decoration: none;
    border-radius: 25%;
    margin-left: 20px;
    font-weight: 700;
    color: #1b3039;
    padding: 9px 25px;
    background: #eceff1;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.sample img{
    border-radius: 50%;
}

.sample:hover{
    background-color: #e2f1f8;
    color: rgba(255, 0, 0, 0.5);
    transform: scale(1.1);
}